/* THEME*/
:root {
  --siteMaxWidth: 1440px;
  --sitePadding: 2rem;

  --fontHeading: "Beaufort For LOL", "Times New Roman", Georgia, Garamond, Times, serif;
  --fontText: "Spiegel", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica,
    Cantarell, Ubuntu, roboto, noto, arial, sans-serif;

  /* Fallbacks */
  --clrText: hsl(45, 10%, 59%);
  --clrTextMuted: hsl(48, 3%, 35%);
  --clrHeading: hsl(40, 50%, 88%);
  --clrSubheading: hsl(41, 56%, 51%);

  --clrBg: hsl(210, 90%, 4%);
  --clrBorderMuted: hsl(210, 14%, 14%);
  --clrBorderGoldIdle: hsl(42, 56%, 18%);
  --clrBorderGoldActive: hsl(41, 56%, 51%);
}
:root[data-theme="light"] {
  --clrBg: hsl(0, 0%, 100%);
  --clrBorder: "";
}
:root[data-theme="dark"] {
  --clrBg: hsl(210, 90%, 4%);
  --clrBorder: "";
}
/**/
/* CORE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}
html {
  font-family: var(--fontHeading);
  font-size: 62.5%;
  background: var(--clrBg);
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  font-size: 1.6rem;
  font-family: var(--font-geist-sans);
}
header,
footer {
  flex-shrink: 0;
}
main {
  flex-grow: 1;
}
main#hero {
  background: linear-gradient(hsla(from var(--clrBg) h s l / 0.5), var(--clrBg)), url("/assets/header_4k.webp");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
footer {
  padding: var(--sitePadding);
  color: var(--clrTextMuted);
  text-align: center;
}
/**/
/* NORMALIZE */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}
img,
svg {
  display: block;
  max-width: 100%;
}
button {
  font-family: inherit;
  font-size: inherit;
  background: none;
  border: none;
  cursor: pointer;
  &:disabled {
    cursor: default;
  }
}
button svg {
  width: 1em;
  height: 1em;
}
/**/
/* THEME TOGGLE */
#theme-toggle {
  all: unset;
  position: fixed;
  top: var(--sitePadding);
  right: var(--sitePadding);
  z-index: 100;
  width: 4rem;
  height: 2rem;
  border: 1px solid var(--clrBorderGoldIdle);
  border-radius: 999rem;
  background: hsla(from var(--clrBg) h s l / 0.5);
  cursor: pointer;
  transition: border-color 0.2s ease-out;
  &:hover,
  &:focus-visible {
    border-color: var(--clrBorderGoldActive);
  }
  &::before {
    display: inline-block;
    content: "";
    height: 100%;
    aspect-ratio: 1;
    background: var(--clrBorderGoldIdle);
    border-radius: 999rem;
    transition: transform 0.2s ease-out, background 0.2s ease-out;
  }
  &:hover::before,
  &:focus-visible::before {
    background: var(--clrBorderGoldActive);
  }
  &:checked::before {
    transform: translateX(100%);
  }
}
