/* BEAUFORT FOR LOL 
* Styles: Normal, Italic
* Light: 200
* Regular: 400
* Medium: 500
* Bold: 700
* Heavy: 800
*/
@font-face {
  font-family: "Beaufort For LOL";
  src: url("/fonts/BeaufortForLOL/BFL-light.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Beaufort For LoL";
  src: url("/fonts/BeaufortForLOL/BFL-light-italic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Beaufort For LoL";
  src: url("/fonts/BeaufortForLOL/BFL-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Beaufort For LoL";
  src: url("/fonts/BeaufortForLOL/BFL-regular-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Beaufort For LoL";
  src: url("/fonts/BeaufortForLOL/BFL-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Beaufort For LoL";
  src: url("/fonts/BeaufortForLOL/BFL-medium-italic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Beaufort For LoL";
  src: url("/fonts/BeaufortForLOL/BFL-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Beaufort For LoL";
  src: url("/fonts/BeaufortForLOL/BFL-bold-italic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Beaufort For LoL";
  src: url("/fonts/BeaufortForLOL/BFL-heavy.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Beaufort For LoL";
  src: url("/fonts/BeaufortForLOL/BFL-heavy-italic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* SPIEGEL
* Styles: Normal, Italic
* Regular: 400
* Semibold: 600
* Bold: 700
*/
@font-face {
  font-family: "Spiegel";
  src: url("/fonts/Spiegel/spiegel-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Spiegel";
  src: url("/fonts/Spiegel/spiegel-regular-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Spiegel";
  src: url("/fonts/Spiegel/spiegel-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Spiegel";
  src: url("/fonts/Spiegel/spiegel-semibold-italic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Spiegel";
  src: url("/fonts/Spiegel/spiegel-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Spiegel";
  src: url("/fonts/Spiegel/spiegel-bold-italic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
